///////////////////////////////
//varables
///////////////////////////////
$pcbk1-width: 1450px;
$pcbk2-width: 1280px;
$pcbk3-width: 1080px;
$tb-width: 960px;
$bk1-width: 900px;
$bk2-width: 376px;
$sp-width: 600px;
$iphone5-width: 350px;
